rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /flyers/{allPaths=**} {
      allow read;
    }
    match /flyers/{eventId}/{fileName} {
      allow write: if request.auth != null;
    }
  }
}
